.chat-footer
    span скрепка
    include ../common/input/input.tmpl.pug
    +inputTemplate('message', 'text', 'Сообщение')
    include ../common/button-arrow/button-arrow.tmpl.pug
    +buttonWithArrow('send')