.chat-header
    .chat-header__avatar
        include ../common/avatar/avatar.tmpl.pug
        +avatar({path: '../static/img/avatars/avatar1.png', alt: 'Андрей',})
    .chat-header__menu
        span menu