.chat-content
    .chat-content__date
        span 19 июня
    .chat-content__messages
        include ./message.tmpl.pug
        +message({
          className: 'received',
          content: 'Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.\n' + '  \n' + 'Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.',
          date: '12:16',
          isImg: false,
        })
        +message({
          className: 'received',
          content: ``,
          date:'12:36',
          isImg: true,
          img: {path: '/img/message.jpg', alt: 'img'}
        })
        +message({
          className: 'sent',
          content: 'Круто!',
          date: '13:00',
          isImg: false,
        })