.profile-content
    include ../common/input/input.tmpl.pug
    +inputTemplate('profile-input', 'email', 'neo@zion.ru')(class="email")
    +inputTemplate('profile-input', 'text', 'neo')(class="login")
    +inputTemplate('profile-input', 'text', 'Томас')(class="first_name")
    +inputTemplate('profile-input', 'text', 'Андерсон')(class="second_name")
    +inputTemplate('profile-input', 'text', 'Neo')(class="display_name")
    +inputTemplate('profile-input', 'phone', '+7 (909) 967 30 30')(class="phone")
