- var authorised = true;

doctype html
html
    //head
    //body
    //    .root
    //        if authorised
    //            include pages/chats/chat
    //        else
    //            include pages/login
    head
        title= title
    body
        h1= message