mixin inputTemplate(className, type, placeholder)
    div(className=`${className}`)
        input(type=`${type}`, placeholder=`${placeholder}`)
        if (className == 'form-input')
          label= placeholder