// Стили для инпутов в формах логина и регистрации

.form-input__container {
  position: relative;
  width: 100%;
  font-size: 13px;
  font-weight: 600;

  .form-input {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 8px;
    border-bottom: 1px solid $green;
    color: $black;
  }

  label {
    color: #999999;
    position: absolute;
    transition: all 200ms;
    left: 0;
  }

  .form-input:focus + label,
  .form-input:not(:placeholder-shown) + label{
    top: -10px;
    left: 1px;
    font-size: 9px;
  }
}