doctype html
html
    head
        title Messenger
        link(rel='stylesheet', href='../../static/styles/index.css')
    body
        //- Тут будут условия для выбора лайаута и роутинга
        block wrapper
        a(href="/404") Ошибка 404
        a(href="/500") Ошибка 5**
        a(href="/login") Страница авторизации
        a(href="/register") Страница регистрации
        a(href="/messenger") Страница чатов
        a(href="/profile") Страница профиля