extends ../layouts/profile-layout.pug

block content
    include ../components/profile/profile-header.pug
    include ../components/profile/profile-content.pug
    include ../components/profile/profile-footer.pug