.profile-input__container {
  width: 100%;
  border-bottom: 1px solid $gray-light;
  position: relative;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  padding: 12px;

  .profile-input {
    text-align: right;
  }

  label {
    text-align: left;
  }

}