@charset "UTF-8";
@import './null.css';
@import './fonts.css';
.avatar {
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.main-button {
  background-color: #24B589;
  border-radius: 50px;
  width: 280px;
  height: 37px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  font-family: Nunito, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  color: #FFFFFF;
}

.arrow {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: #24B589;
  border-radius: 50%;
}
.arrow span {
  display: inline-block;
  position: absolute;
  background-color: #FFFFFF;
  width: 11px;
  height: 1.6px;
  top: 12.4px;
  left: 8.5px;
}

.back:after {
  position: absolute;
  content: "";
  display: block;
  width: 1.6px;
  height: 8.8px;
  background-color: #FFFFFF;
  transform: rotate(45deg);
  top: 6.2px;
  left: 10px;
}
.back:before {
  position: absolute;
  content: "";
  display: block;
  width: 1.6px;
  height: 8.8px;
  background-color: #FFFFFF;
  transform: rotate(-45deg);
  top: 11.3px;
  left: 10px;
}

.send:after {
  position: absolute;
  content: "";
  display: block;
  width: 1.6px;
  height: 8.8px;
  background-color: #FFFFFF;
  transform: rotate(135deg);
  top: 6.2px;
  left: 17px;
}
.send:before {
  position: absolute;
  content: "";
  display: block;
  width: 1.6px;
  height: 8.8px;
  background-color: #FFFFFF;
  transform: rotate(-135deg);
  top: 11.3px;
  left: 17px;
}

.form-input__container {
  position: relative;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
}
.form-input__container .form-input {
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 8px;
  border-bottom: 1px solid #24B589;
  color: #1E1E1E;
}
.form-input__container label {
  color: #999999;
  position: absolute;
  transition: all 200ms;
  left: 0;
}
.form-input__container .form-input:focus + label,
.form-input__container .form-input:not(:placeholder-shown) + label {
  top: -10px;
  left: 1px;
  font-size: 9px;
}

.sidebar {
  width: 310px;
  height: 100%;
  margin: 0;
  padding: 5px 0;
  position: fixed;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBFBFB;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
}
.sidebar .menu {
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar .menu .menu-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.sidebar .menu .menu-header__link-link {
  position: relative;
  font-family: Inter, sans-serif;
  color: #999999;
  padding-right: 10px;
}
.sidebar .menu .menu-header__link-link:after {
  position: absolute;
  content: "";
  display: block;
  width: 1.5px;
  height: 8px;
  background-color: #999999;
  transform: rotate(135deg);
  top: 2px;
  right: 0;
}
.sidebar .menu .menu-header__link-link:before {
  position: absolute;
  content: "";
  display: block;
  width: 1.5px;
  height: 8px;
  background-color: #999999;
  transform: rotate(-135deg);
  top: 6.5px;
  right: 0;
}
.sidebar .menu .menu_search {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #EAEAEA;
}
.sidebar .menu .menu_search .search-menu {
  position: relative;
  font-family: Inter, sans-serif;
  text-align: center;
  width: 100%;
  height: 32px;
  border-radius: 5px;
  background-color: #EFEFEF;
}

.chat-item {
  display: flex;
  width: 100%;
  height: 67px;
  padding: 10px 0;
  border-bottom: 1px solid #EAEAEA;
}

.last-message {
  flex: 2 2 auto;
  margin-left: 10px;
  max-width: 185px;
}

.last-message__header {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

.last-message__info {
  position: relative;
}
.last-message__info .last-message__date {
  position: absolute;
  right: 0;
  display: inline-block;
  white-space: nowrap;
  font-size: 9px;
}
.last-message__info .last-message__read {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #24B589;
  color: #FFFFFF;
  font-size: 11px;
}

.wrapper-chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Nunito, sans-serif;
}
.wrapper-chat .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  border-bottom: 1px solid #EAEAEA;
}
.wrapper-chat .chat-header .chat-header__avatar {
  display: flex;
  align-items: center;
}
.wrapper-chat .chat-header .chat-header__avatar img {
  width: 34px;
  height: 34px;
}
.wrapper-chat .chat-header .chat-header__avatar span {
  font-size: 13px;
  font-weight: 800;
  color: #1E1E1E;
  margin-left: 10px;
}
.wrapper-chat .chat-header .chat-header__menu:after {
  content: "︙";
  font-size: 25px;
}
.wrapper-chat .chat-content {
  flex: 2 2 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 10px;
}
.wrapper-chat .chat-content .chat-content__time {
  align-self: center;
  font-size: 12px;
  color: #999999;
  margin-bottom: 30px;
}
.wrapper-chat .chat-content .chat-content__messages {
  display: flex;
  flex-direction: column;
}
.wrapper-chat .chat-content .chat-content__messages .message-content {
  min-width: 75px;
  max-width: 405px;
  margin-bottom: 10px;
}
.wrapper-chat .chat-content .chat-content__messages .message-content img {
  width: 316px;
}
.wrapper-chat .chat-content .chat-content__messages .message-content p {
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: #1E1E1E;
}
.wrapper-chat .chat-content .chat-content__messages .received {
  position: relative;
  align-self: start;
}
.wrapper-chat .chat-content .chat-content__messages .received p {
  background-color: #EAEAEA;
  border-radius: 0 12px 12px;
}
.wrapper-chat .chat-content .chat-content__messages .received img {
  background-color: #FFFFFF;
  border-radius: 12px;
}
.wrapper-chat .chat-content .chat-content__messages .received span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 9px;
  color: #999999;
}
.wrapper-chat .chat-content .chat-content__messages .received .message-time__img {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 9px;
  color: #FFFFFF;
  background-color: rgba(82, 82, 82, 0.5);
  border-radius: 30px;
}
.wrapper-chat .chat-content .chat-content__messages .sent {
  position: relative;
  align-self: end;
  width: 114px;
}
.wrapper-chat .chat-content .chat-content__messages .sent p {
  background-color: #E4EDFD;
  border-radius: 12px 12px 0;
}
.wrapper-chat .chat-content .chat-content__messages .sent img {
  border-radius: 12px;
}
.wrapper-chat .chat-content .chat-content__messages .sent span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 9px;
  color: #24B589;
}
.wrapper-chat .chat-content .chat-content__messages .sent .message-time__img {
  position: absolute;
  right: 99px;
  bottom: 10px;
  font-size: 9px;
  color: #FFFFFF;
  background-color: rgba(82, 82, 82, 0.5);
  border-radius: 30px;
}
.wrapper-chat .chat-footer {
  display: flex;
  justify-content: space-between;
}
.wrapper-chat .chat-footer .pin-files:after {
  content: "📎";
  font-size: 25px;
}
.wrapper-chat .chat-footer .message {
  width: 100%;
  height: 32px;
  padding: 10px;
  margin: 0 10px;
  background-color: #EFEFEF;
  border-radius: 30px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding-top: 60px;
  padding-bottom: 30px;
  font-family: Nunito, sans-serif;
}
.login-container h1 {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  color: #1E1E1E;
  margin-bottom: 60px;
}
.login-container .login-form {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.login-container .login-form .login-form__fields {
  margin-bottom: 60px;
}
.login-container span {
  font-size: 11px;
  line-height: 13px;
  color: #999999;
  margin-top: 15px;
}
.login-container span a {
  color: #24B589;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding-top: 60px;
  padding-bottom: 30px;
  font-family: Nunito, sans-serif;
}
.register-container h1 {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  color: #1E1E1E;
  margin-bottom: 60px;
}
.register-container .register-form {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.register-container .register-form .login-form__fields {
  margin-bottom: 60px;
}
.register-container span {
  font-size: 11px;
  line-height: 13px;
  color: #999999;
  margin-top: 15px;
}
.register-container span a {
  color: #24B589;
}

.profile-input__container {
  width: 100%;
  border-bottom: 1px solid #EAEAEA;
  position: relative;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.profile-input__container .profile-input {
  text-align: right;
}
.profile-input__container label {
  text-align: left;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 510px;
  margin: 0 auto;
  font-family: Nunito, sans-serif;
}
.profile-container .profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
}
.profile-container .profile-header img {
  width: 130px;
  height: 130px;
  margin-bottom: 24px;
}
.profile-container .profile-header h2 {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #1E1E1E;
}
.profile-container .profile-content {
  width: 510px;
  margin: 0 auto 65px;
}
.profile-container .profile-content :last-child {
  border: none;
}
.profile-container .profile-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile-container .profile-footer a {
  border-bottom: 1px solid #EAEAEA;
  color: #24B589;
  font-weight: 600;
  font-size: 13px;
  padding: 12px 0;
}
.profile-container .profile-footer :last-child {
  border: none;
  color: #FF0000;
}

.error-container {
  font-family: Nunito, sans-serif;
  text-align: center;
}
.error-container h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.error-container p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 70px;
}
.error-container a {
  font-size: 11px;
  font-weight: bold;
  color: #24B589;
}

body {
  font-family: Nunito sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #24B589;
  text-decoration: none;
}

main {
  margin-left: 310px;
  padding: 10px 20px;
  height: 100vh;
}

.empty-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/*# sourceMappingURL=index.css.map */
