@import './vars.scss';
@import './null.css';
@import './fonts.css';
@import './modules.scss';
@import './components.scss';
@import './errors.scss';

body {
  font-family: Nunito sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: $green;
  text-decoration: none;
}

main {
  margin-left: 310px;
  padding: 10px 20px;
  height: 100vh;
}

.empty-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
}

.profile-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
