form.login-form
    include ../common/input/input.tmpl.pug
    include ../common/button/button.tmpl.pug
    .login-form__fields
        +inputTemplate('form-input', 'text', 'Логин')
        +inputTemplate('form-input', 'password', 'Пароль')
    +button('Войти')