include ./chat-item.tmpl.pug
+chatItem({
	name: 'Андрей',
	lastMessage: {text: "Привет", date: "10:49"},
	notRead: false,
	avatar: {
		path: '../static/img/avatars/avatar1.png',
		alt: 'Андрей',
	}
})
+chatItem({
	name: 'World Class',
	lastMessage: {text: "Изображение", date: "пт"},
	notRead: true,
	avatar: {
		path: '../static/img/avatars/avatar2.png',
		alt: 'World Class',
	}
})
+chatItem({
	name: 'Sergio',
	lastMessage: {text: "Как прошла вчерашняя встреча?", date: "13:49"},
	notRead: true,
	avatar: {
		path: '../static/img/avatars/avatar3.png',
		alt: 'Sergio',
	}
})
+chatItem({
	name: 'Аня',
	lastMessage: {text: "Полетели?", date: "4 февраля"},
	notRead: false,
	avatar: {
		path: '../static/img/avatars/avatar4.png',
		alt: 'Аня',
	}
})
+chatItem({
	name: 'Smith',
	lastMessage: {text: "Hello, mr.Anderson!", date: "14 октября 1999"},
	notRead: true,
	avatar: {
		path: '../static/img/avatars/avatar5.png',
		alt: 'Аня',
	}
})
+chatItem({
	name: 'Morpheus',
	lastMessage: {text: "Wake up, Neo", date: "31 февраля"},
	notRead: false,
	avatar: {
		path: '../static/img/avatars/avatar6.png',
		alt: 'Аня',
	}
})