div.menu-header
    div.menu-header__avatar
        include ../common/avatar/avatar.tmpl.pug
        +avatar({path: '../static/img/avatars/avatar6.png', alt: 'Main avatar'})
    div.menu-header__link
        a(href="./profile") Профиль