.menu-header
    .menu-header__avatar
        include ../common/avatar/avatar.tmpl.pug
        +avatar({path: '/static/img/avatars/avatar6.png', alt: 'Main avatar'})
    .menu-header__link
        a(href="./profile" class="menu-header__link-link") Профиль