doctype html
html
    head
        title Messenger
        style
            include ../static/styles/index.scss
    body
        //Тут будут условия для выбора лайаута и роутинга
        //include ./pages/messenger.pug
        //include ./pages/login.pug
        //include ./pages/register.pug
        //include ./pages/404.pug
        include ./pages/profile.pug
