extends ../pages/index.pug

block wrapper
    .profile-wrapper
        include ../components/common/button-arrow/button-arrow.tmpl.pug
        a(href="/messenger")
            +buttonWithArrow('back')
        .profile-container
            block content
